/* style.css */

body
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container
{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1
{
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

form
{
  display: flex;
  flex-direction: column;
}

label
{
  margin-bottom: 10px;
}

input[type="text"]
{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

input[type="submit"]
{
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover
{
  background-color: #45a049;
}

.result
{
  margin-top: 20px;
  padding: 8px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;
}
