<!DOCTYPE html>
<html>

  <head>
    {% if error_message %}
        <script>
            window.onload = function() {
                alert("{{ error_message }}");
            }
        </script>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pobieranie ciśnienia atmosferycznego</title>
  </head>

  <body>
    <h1>Pobierz ciśnienie atmosferyczne</h1>
    <form method="POST" action="/">
      <label for="city">Lokalizacja:</label>
      <input type="text" name="city" id="city" required>
      <input type="submit" value="Pobierz">
    </form>
    {% if pressure %}
    <h2>Aktualne ciśnienie atmosferyczne:</h2>
    <p>{{ pressure }} hPa</p>
    <h3>Skutki na samopoczucie:</h3>
    <p>{{ effects }}</p>
    {% endif %}
  </body>

</html>